body {
    background-color: #1f221c;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: MaxiRound-Regular;
    src: url(Fonts/MaxiRound-Regular.otf);
}

@font-face {
    font-family: MaxiRound-Bold;
    src: url(Fonts/MaxiRound-Bold.otf);
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: MaxiRound-Bold;
    font-weight: 700;
    color: azure;
    text-transform: uppercase;
}

#controls {
    font-family: MaxiRound-Regular;
    display: flex;
    color: azure;
    justify-content: center;
}

#tasks {
    font-family: MaxiRound-Bold;
    color: black;
    display: flex;
    flex-wrap: wrap;
}

.row-flexbox {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

.task {
    margin: 20px;
    background-color: #f4f4f4;
    border-bottom: 1px #ccc dotted;
    padding: 1rem;
    text-align: center;
    width: 13em;
    height: 13em;
    border-radius: 1rem;
    box-shadow: #f4f4f4;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.task p {
    color: azure;
    font-size:xx-large;
    position: absolute;
    z-index: 2; /* Ensure the text is above the background */
}

.task img.scenery {
    z-index: 1;
    transition: opacity 0.3s ease;
}

.task:hover img.scenery {
    opacity: 0.5;
}

.task img {
    position: absolute;
    align-items: center;
    width: 23em;
    height: auto;
}