body {
    background-color: #1f221c;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}

@font-face {
    font-family: MaxiRound-Regular;
    src: url(Fonts/MaxiRound-Regular.otf);
}

@font-face {
    font-family: MaxiRound-Bold;
    src: url(Fonts/MaxiRound-Bold.otf);
}

h1 {
    font-family: MaxiRound-Bold;
    text-align: left;
    font-size: 60px;
}

#controls {
    font-family: MaxiRound-Regular;
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.task {
    font-family: MaxiRound-Regular;
    float: left;
    position: relative;
    margin: 10px;
    width: 15em;
    height: 23em;
    cursor: pointer;
    clear: none;
    margin: 7px 0px 0px 7px;
}

.task img {
    transition: opacity 0.3s ease;
    position: absolute;
    float: left;
    width: 100%;
    cursor: pointer;
    margin-bottom: 1px;
    top: 0;
    left: 0;
    height: auto; 
}

.task .title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

.task .scenery {
    z-index: 1;
    opacity: 1;
}

.task:hover .scenery {
    opacity: 0.3;
}

/* #tasks{
    margin: 40px;
} 

border-radius: 10%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    
*/