body {
    background-color: #1f221c;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}

@font-face {
    font-family: MaxiRound-Regular;
    src: url(Fonts/MaxiRound-Regular.otf);
}

@font-face {
    font-family: MaxiRound-Bold;
    src: url(Fonts/MaxiRound-Bold.otf);
}

h1 {
    font-family: MaxiRound-Bold;
    text-align: center;
}

#controls {
    font-family: MaxiRound-Regular;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#tasks{
    margin: 40px;
}

.task {
    font-family: MaxiRound-Regular;
    border-radius: 10%;
    float: left;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
}

.task img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.task .p{
    position: absolute;
    z-index: 5;
}

.task .scenery {
    z-index: 1;
    opacity: 1;
}

.task:hover .scenery {
    opacity: 0.3;
}